<%- include ("partials/header") %>
    <div class="container" style="margin-top: 15vh;">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
                <div class="card" id="cardit" style="width: 100%;" >
                    <img src="/assets/electricity.jpg" style="height: 15rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">Add a Form Teacher</h5>
                    <p class="card-text">Click the button below to assign a teacher to a specific</p>
                    <a href="/addteacher" class="btn btn-dark">Proceed</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-3">
                <div class="card" id="cardit" style="width: 100%;" >
                    <img src="/assets/electricity.jpg" style="height: 15rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">Students Records</h5>
                    <p class="card-text">Click the button below to view and update student records by session and term</p>
                    <a href="/records/YT" class="btn btn-dark">Proceed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include ("partials/footer") %>