<form action="/student/findgrades" method="post">
    <input type="text" name="class" placeholder="Class">
    <input type="text" name="year" placeholder="Year">
    <input type="text" name="term" placeholder="Term">
    <button>Submit</button>
</form>