<form action="/resultcheck" method="post">
    <input type ="text" name="PortalId" placeholder="PortalId">
    <!-- <input type="number" name="Term" placeholder="Term"> -->
    <select name="Term">
        <option value="First Term">First Term</option>
        <option value="Second Term">Second Term</option>
        <option value="Third Term">Third Term</option>
    </select>
    <input type="text" name="Year" placeholder="Year">
    <button>Submit</button>
</form>