<%- include("partials/header") %>
<form action="/teacherlogin" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="Password">
    <button>Submit</button>
</form>

<%- include("partials/footer") %>